<h1>Edit this Climb</h1>


<form method="post" action="/climbs/<%=@climb.slug%>">
  <label>Climb Name: </label><input id="location_name" type="text" name="climb[name]" value="<%=@climb.name%>">
  <br><br>

  <label>Grade: </label><select name="climb[grade]" select="<%=@climb.grade%>">
    <%Climb.grade_array.each do |grade|%>
      <%if @climb.grade.eql? grade%>
        <option value="<%=grade%>" selected><%=grade%></option>
      <%else%>
        <option value="<%=grade%>"><%=grade%></option>
      <%end%>
    <%end%>
    </select>
    <br><br>

    <label> Description: </label><br>
    <input id="climb_description" type="text" name="climb[description]" value="<%=@climb.description%>">
    <br><br>
    <label>Select a location: </label><br>
    <%Location.all.each do |location|%>
    <input id="location_name" type="radio" name="climb[location_id]" value="<%=location.id%>"<%='checked' if @climb.location.name == location.name%>>  <%=location.name%></input><br>
    <%end%>
    <input id="location_name" type="radio" name="climb[location_id]" value="nil">  Add a New Location</input>
    <br><br>OR create a new location:</label><br>
  <label>Location Name: </label><input id="location_name" type="text" name="location[name]">
  <br><br>
  <label>City: </label><input id="location_city" type="text" name="location[city]">
  <br><br>
  <label>State: </label><select name="location[state]">
      <%Location.state_array.each do |state|%>
        <option value="<%=state%>"><%=state%></option>
        <%end%>
      </select>
  <br><br>
  <label>Description: </label><input id="location_description" type="text" name="description">
  <br><br>
  <input type="submit" value="Save Changes">
</form>
<form method="get" action="/climbs/<%=@climb.slug%>">
  <input type="submit" value="Back">
</form>
