<h1>Create a New Climb</h1>


<form method="post" action="/climbs">
  <label>Climb Name: </label><input id="location_name" type="text" name="climb[name]" placeholder="Climb Name">
  <br><br>
  <label>Grade: </label><select name="climb[grade]">
    <%Climb.grade_array.each do |grade|%>
      <option value="<%=grade%>"><%=grade%></option>
      <%end%>
    </select>
    <br><br>
    <label> Description: </label><br>
    <textarea rows="10" cols="50" id="climb_description" type="text" name="climb[description]" placeholder="Describe this climb!"></textarea>
    <br><br>
    <label>Select a location: </label><br>
    <%Location.all.each do |location|%>
    <input id="location_name" type="radio" name="climb[location_id]" value="<%=location.id%>"><%=location.name%></input><br>
    <%end%>
    <input id="location_name" type="radio" name="climb[location_id]" value="nil">Add a New Location</input>
    <br><br>OR create a new location:</label><br>
  <label>Location Name: </label><input id="location_name" type="text" name="location[name]">
  <br><br>
  <label>City: </label><input id="location_city" type="text" name="location[city]">
  <br><br>
  <label>State: </label><select name="location[state]">
      <%Location.state_array.each do |state|%>
        <option value="<%=state%>"><%=state%></option>
        <%end%>
      </select>
  <br><br>
  <label>Description: </label><br><textarea id="location_description" type="text" name="location[description]" placeholder="Description"></textarea>
  <br><br>
  <input type="submit" value="Add Climb">
</form>
<br><br>
<a href="/locations">Back to Locations</a>
