
<h2><%=@climb.name%> - <%=@climb.grade%></h2>
<h4>Location: <%=@climb.location.name%></h4><br>
<h4>Description: </h4><br>
<p><%=@climb.description%></p>
<br><br>
<%if Helpers.logged_in?(session)%>
<form method="get" action="/climbs/<%=@climb.slug%>/edit">
  <input type="submit" value="Edit this Climb">
</form>
<%end%>
<br><br>
<a href="/locations">Back to Locations</a>
