<h2><%=@location.name%>  (<%=@location.city%>, <%=@location.state%>)</h2>
<p><%=@location.description%></p>

<%if logged_in?%>
<form method="get" action="/climbs/new">
  <input type="submit" value="Add a New Climb">
</form>
<%end%>
<br><br>
<h2>Climbs</h2>
<ul>
  <%@location.climbs.reverse.each do |climb|%>
    <li><strong><a href="/climbs/<%=climb.slug%>"><%=climb.name%> - <%=climb.grade%></a></strong><br>
      Added by: <a href="/users/<%=climb.user.slug%>"><%=climb.user.username%></a></li><br>
  <%end%>
</ul>
<br><br>
<a href="/locations">Back to Locations</a>
